<div class="row" style="margin-bottom:10px;"
     id="anchor{{post.id}}"
     data-ng-repeat="post in posts | orderBy:sortFn  | filter:search |filter:genreFilter track by $index">

    <!--voting-->
    <div class="col-md-1">
        <upvote upvote="upVote(post)" downvote="downVote(post)" count="post.rating"></upvote>
    </div>
    <div class="col-sm-12 col-md-10">
        <div class="thumbnail" style="padding:10px;">
            <div class="row">
                <div class="col-md-6 caption" style="margin-left:10px;">
                    <!--<h4>{{post.title}} </h4>-->
                    <collapsible title="{{post.title}}">
                        <span>published on  {{post.publishedOn | date: myFormat}}</span>
                        <p>{{post.author}}</p> <span>reviews: {{post.reviews.length}}</span>

                        <br />
                        Genre:
                        <a ng-repeat="genre in post.genres" class="genre label label-info"
                           ng-href="/home/{{genre.tagName}}">{{genre.tagName}}
                        </a>

                        <br />
                        <p>Reading time: <span class="label label-success">{{post.readingTime | durations }} </span>  </p>
                        <p ng-bind-html="post.postUrl"></p>
                        <p>
                            <a class="btn btn-primary" data-ng-href="/posts/show/{{post.id}}">VIEW DETAILS</a>
                            <a class="btn btn-default" data-ng-href="/posts/review/{{post.id}}">REVIEWS</a>
                        </p>
                    </collapsible>
                </div>
                <div class="col-md-4 pull-right">
                    <img style="max-height:200px" ng-src="{{post.postImageUrl}}" />
                </div>

            </div>
        </div>
    </div>

</div>
