<div class="col-sm-1 col-md-1 well" style="width:4em">
    <div class="votesBox">
        <div class="vote">
            <a href="#" ng-click="upvote()" class="voteUp btn-block"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a>
            <div class="votes label label-info">{{count}}</div>
            <a href="#" ng-click="downvote()" class="voteDown btn-block"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
        </div>
    </div>
</div>