<h2>Add a new post</h2>
<div>
    <form name="newBook" role="form">
        <div class="form-group">
            <label for="postName">Book name:</label>
            <input type="text" class="form-control" id="postName" ng-model="post.postName">
        </div>
        <div class="form-group">
            <label for="author">Author:</label>
            <input type="text" class="form-control" id="author" ng-model="post.author">
        </div>
        <div class="form-group">
            <label for="author">Genre:</label>
            <input type="text" class="form-control" id="genre" ng-model="post.genre">
        </div>

        <div class="form-group">
            <label for="publishedOn">Published On:</label>
            <input type="text" class="form-control" id="publishedOn" ng-model="post.publishedOn" 
                   date-keys date-picker>
        </div>
         
        <button type="submit" class="btn btn-default" data-ng-click="update()">Submit</button>

    </form>


</div>
