<div>
    <h2>Review details</h2>
    <span>
        <button type="button" class="btn btn-primary"
                ng-click="toggleAddReview()">
            ADD REVIEW
        </button>
    </span>

    <hr />


    <form ng-show="reviewform">
        Enter review title:<br /> <input type="text" ng-model="review.title" /><br />
        Review: <br />
        <textarea rows="5" ng-model="review.body"></textarea>
        <br />
        <input type="hidden" ng-model="review.postId" />
        <button type="submit" ng-click="addReview()">UPDATE</button>
        <br /><br />
    </form>

    <div class="panel panel-default">
        <div class="panel-heading">
            Book review: {{ reviews[0].title}} 
        </div>
        <div style="margin-bottom:20px"  ng-repeat="review in reviews track by $index" class="review-item panel-body">
            <div class="panel-body">
                {{id}}
                {{ review.body}}
            </div>
            <div class="panel-footer">
                reviewed by: {{ review.username}}
            </div>
        </div>
    </div>

</div>