<div class="row">

    <div class="well col-xs-12 col-md-3 bookdetails">
        <img class="poster img-thumbnail img-responsive" ng-src="{{book.bookImageUrl}}">

        <br />
        <a class="return-link" href="/">
            <button class="return-btn btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span>
                Return to Home
            </button>
        </a>
    </div>
    <div class="col-md-7">
        <h1 class="book-title">{{book.bookName}}({{book.publishedOn | date: 'yyyy'}})</h1>

        <a ng-repeat="genre in book.genres" class="genre btn btn-info" href="#">{{genre.tagName}}</a>

        <div class="overview">{{book.description}}</div>

        <div class="extra-details">
            <kbd>Reading Time: {{book.readingTime | durations}} </kbd>
            <kbd>Author: {{book.author}}</kbd>
            <kbd>Ratings: {{book.normalizedRating}}</kbd>
            <kbd>Published on: {{book.publishedOn | date}}</kbd>
        </div>

    </div>
</div>